
:root {
  font-family: var(--font-family-main);
  --font-family-main: 'Arial';

  --gap: 30px;
  --gap-small: 15px;
  --gap-big: 70px;
  --gutter: 8px;


  --grey: grey;
  --grey-light: #dfdfdf;
  --sms-self: #be6969;
  --sms-self-send: #c7a1a1;
  --sms-other: #e6e6e6;
  --sms-color-self: white;
}


* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;


  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  --transition: all 0.2s ease;
}

img {
  
}

@font-face {
  font-family: 'Grandstander';
  src: url(../assets/fonts/Grandstander/Grandstander-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue';
  src: url(../assets/fonts/Comic_Neue/ComicNeue-Bold.ttf);
}

html,
body {
  overflow: hidden;
}

img {
object-fit: cover;
max-height: 100%;
}

html {
scroll-behavior: smooth;
}

ul.unset {
  margin: 0;
  padding: 0;
  list-style: none;
}





/* - - - - FLEXCOLUMN AND FLEXROW - - - - */

.display-none, .hidden {
  display: none !important;
}

.flexrow, .flexcolumn {
display: flex;
justify-content: space-between;
overflow: hidden;
gap: var(--grid-gap);
}

.flexrow.fixed {
--height: 200px;
}

.flexrow.fixed > * {
height: var(--height);
}

.flexcolumn {
flex-direction: column;
}

.flexcolumn.fixed {
height: var(--height);
--height: 200px;
}

.flexcolumn > * {
flex: 1 1 auto;
margin: 0 !important;
}

.flexcolumn > * {
}

.flexrow > * {
flex: 1;
margin: 0 !important;
}

.no-extend {
  flex: 0 0 auto;
}

.flexcolumn > .no-extend {
  height: auto;
}

.extend, fill {
  flex: 1 1 auto;
}

[class*=align-], [class*=flex-] {
display: flex !important;
}

.align-center {
align-items: center !important;
}

.align-start {
align-items: flex-start !important;
}

.align-end {
align-items: flex-end !important;
}

.flex-center {
justify-content: center !important;
}

.flex-start {
justify-content: flex-start !important;
}

.flex-end {
justify-content: flex-end !important;
}





/*- - - - - GENERAL - - - - -*/

.lowercase{
text-transform: lowercase !important;
}

.uppercase{
text-transform: uppercase !important;
}

.style-italic, .italic {
font-style: italic !important;
}

.style-normal {
font-style: normal !important;
}

.weight-bold, .bold {
font-weight: bold !important;
}

.weight-normal, .weight-normal * {
font-weight: normal !important;
}

.font-normal {
font-weight: normal !important;
font-style: normal !important;
}

.left-align{
text-align: left !important;
}

.center-align{
text-align: center !important;
}

.right-align{
text-align: right !important;
}

.justify-align{
text-align: justify !important;
}

.grey {
  color: var(--grey);
}





/*/////////////////////////////*/

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

/* UI Buttons */
.bodyButton {
  width: 100vw;
  height: 100vh;
}

.justBornButton {
  z-index: 6;
  width: 3%;
  position: absolute;
  transform: translate(32vw, 72vh);
  cursor: pointer;
}

.babyButton {
  z-index: 6;
  width: 3%;
  position: absolute;
  transform: translate(35.5vw, 50vh);
  cursor: pointer;
}

.childButton {
  z-index: 6;
  width: 3%;
  position: absolute;
  transform: translate(62vw, 62vh);
  cursor: pointer;
}

.adoButton {
  z-index: 6;
  width: 3%;
  position: absolute;
  transform: translate(80vw, 55vh);
  cursor: pointer;
}

.minigame-button {
  transition: .4s all ease-in-out;
}

.button-visible {

}

.button-hidden {
  opacity: 0;
}

#MINIGAMES {
  border: 4px solid red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  color: white;
}

