@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
canvas {
  width: 100%;
  height: 100%;
}

#divmenu {
  position: absolute;
  width: 0px;
  height: 10vh;
  cursor: pointer;
  z-index: 50001;
  border-radius: 5%;
}

#divmenu.open {
  width: 10.5vw;
  padding-bottom: 2vh;

  background-color: rgba(103, 4, 4, 0.7);
  z-index: 50001;
  display: flex;
  justify-content: center;
  border-radius: 5%;
}

#divmenu .title {
  font-family: "Montserrat", Verdana, "Bitstream Vera Sans", "Lucida Sans",
    sans-serif;
  font-weight: bold;
  font-size: 15px;

  width: 5vw;
  height: 2vw;

  color: rgb(255, 213, 213);
  background-color: rgba(103, 4, 4, 0.7);
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}

#divmenu .line {
  font-family: "Montserrat", Verdana, "Bitstream Vera Sans", "Lucida Sans",
    sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  position: absolute;
  padding-top: 10%;

  color: rgb(255, 213, 213);
  display: none;
}

#divmenu.open .line {
  display: flex;
}
#divmenu.open .line:hover {
  color: black;
  cursor: pointer;
}
