@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.puzzle canvas {
  width: 100%;
  height: 100%;
  z-index: 30 !important;
}

#divmenu {
  position: absolute;
  width: auto;
  height: 10vh;
  cursor: pointer;
  z-index: 50001;
  border-radius: 5%;
}

#divmenu.open {
  width: 10.5vw;
  padding-bottom: 2vh;

  background-color: rgba(103, 4, 4, 0.7);
  z-index: 50001;
  display: flex;
  justify-content: center;
  border-radius: 5%;
}

#divmenu .title {
  font-family: "Montserrat", Verdana, "Bitstream Vera Sans", "Lucida Sans",
    sans-serif;
  font-weight: bold;
  font-size: 15px;

  color: rgb(255, 213, 213);
  background-color: rgba(103, 4, 4, 0.7);
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}

#divmenu .line {
  font-family: "Montserrat", Verdana, "Bitstream Vera Sans", "Lucida Sans",
    sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding-top: 10%;

  color: rgb(255, 213, 213);
  display: none;
}

#divmenu.open .line {
  display: flex;
}
#divmenu.open .line:hover {
  color: black;
  cursor: pointer;
}

.gamemain.puzzle .js-closeGameWindow.round {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  z-index: 10000;
}